body{
    /*background-image: url('../images/pexels-photo-1070850.jpeg'); */
    background: linear-gradient(20deg, #0fb8ad 0%, #5bdb1f 51%, #e8902c 85%);
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}
.card-image{
    height: 200px; 
    object-fit: scale-down;
}
.nav-color{
    background-color: dimgrey;
    color: black;
}

.cake-card{ 
    float: left;
    padding: 10px;
    margin: 9px;
    width: 19rem;
    background: transparent;
}
.footer-style{
    background-color:darkslategrey;
    color: gold;
    text-align: center;
    float: left;
}
.footer-card{
    height: 200px;
}
