body{
    background-image: url('../images/pexels-photo-1070850.jpeg'); 
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}
.card-image{
    height: 200px; 
    object-fit: scale-down;
}
.nav-color{
    background-color: dimgrey;
    color: black;
}

.cake-card{ 
    float: left;
    padding: 10px;
    margin: 5px;
    width: 18rem;
    background: transparent;
}